<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Montag (08.09.2025)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Vor Beginn</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>9.00</td>
        <td><b>Willkommen und Kennenlernen</b>
        <br>Was ist Library Carpentry? / Dinge automatisieren / Daten strukturieren 
        </td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10.30</td>
        <td>Pause</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11.00</td>        <!-- time    -->
        <td><b>Introduction to Working with Data (Regular Expressions)</b>
          <br>Instructor: Sophia
          <br>Helpers: Andreas
          <br>Wir arbeiten mit dem Browser und einem HedgeDoc. Kein spezielles Setup im Vorfeld notwendig.  </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Dienstag (09.09.2025)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Tidy Data</b>
        <br>Instructors: Julika, Inga
        <br>Helpers: Eva</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Mittwoch (10.09.2025)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8.30</td>        <!-- time    -->
        <td>Helpdesk (Technik-Setup) <i>bei Bedarf</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Open Refine</b>
        <br>Instructors: Eva
        <br>Helpers: Birgit
      </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Donnerstag (11.09.2025)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Python I</b> 
        <br>Instructors: Andreas
        <br>Helpers: Inga
        </td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- last day -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Freitag (12.09.2025)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Python II</b>
        <br>Instructors: Alexander
        <br>Helpers: Andreas</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Nach dem Ende</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
